<footer class="footer py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-4 mx-auto text-center">
          <a href="https://appseed.us" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Impressum
          </a>
          <a href="https://appseed.us/product/soft-ui-dashboard/flask/" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Template
          </a>
        </div>
      </div>
    </div>
  </footer>
  